# macOS
.DS_Store

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Package build
/doc/
/Meta/
src/*.o
src/*.so
src/*.dll

# Claude Code
CLAUDE.md
.claude
docs

# Package directories excluded from version control
/docs/
/data-raw/
/refs/
