.Rproj.user
.Rhistory
.RData
.Ruserdata

CLAUDE.md
.claude
docs
data-raw/llq2022/cspa_zenodo.zip
data-raw/llq2022/Replication_Code/
data-raw/hl2005/
data-raw/gw2006/
data-raw/cm2001/
data-raw/wg2008/
